#para1{
    background-color:aqua;
    height:200px;
    color : yellow;

}
#para2{
    background-color:hotpink;
    height: 180px;
    color:darkgoldenrod;
}
p{
    text-align:center;
}

h1{
    color:burlywood;
    background-color:gold;
}
.commonFont{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
    margin: 50px 93px 53px 92px;
    border: 5px solid yellow;
    padding: 28px 124px 16px 197px;
    box-shadow: 8px 7px 12px black;
    text-align: justify;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 25px;
    font-style: oblique;
    font-weight: 500;
    font-family: ui-sans-serif;
   
}
#d1 {
    background-image: url('download.jpg');
    height: 300px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
}